.site-header {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;

    .site-branding {

        a {
            text-decoration: none;
            color: $primary;

            &:hover {
                .site-title {
                    color: $secondary;
                }
            }
        }

        .site-title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2rem;
            margin: 0 0 .2rem 0;
            color: #26141b;
            letter-spacing: 2px;
            transition: .1s ease-in;

            // &:hover {
            //     color: $secondary;
            //     transition: .1s ease-in;
            // }

            span {
                color: $secondary;
            }
        }

        .site-description {
            margin: 0;
            padding: 0;
            font-weight: 300;
        }
    }

    .main-navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        #primary-menu {
            li {
                margin-right: 1rem;

                a {
                    color: $primary;
                    font-size: 1rem;
                    text-transform: uppercase;

                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }
    }
}